* {
  background-color: black;
  color: white;
}
/* 
.container {
  display: flex;
  margin: 10px;
  flex-direction: column;
}
:hover {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Protest Revolution", sans-serif;
}
.header:hover {
  padding: 10px;
  border: 5px solid red;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "Protest Revolution", sans-serif;
  font-size: 20px;
}

.body:hover {
  margin-top: 20px;
  border: 5px solid red;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "Protest Revolution", sans-serif;
  font-size: 20px;
}

.footer:hover {
  margin-top: 20px;
  border: 5px solid red;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "Protest Revolution", sans-serif;
  font-size: 20px;
} */
